/* Global Presets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Two - D - World */

.two-d-world {
  background-color: rgba(184, 135, 11, 0);
  width: 75%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  background-color: rgba(0, 255, 255, 0);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Grid-Container */

.grid-container {
  background-color: rgba(241, 241, 241, 0);
  min-width: 260px;
  width: 30%;
  height: 65%;
}

.title {
  background-color: beige;
  padding: 0.5rem 0;
  font-size: 2.75rem;
  text-align: center;
  width: 100%;
}

/* Grid */

.grid {
  background-color: coral;
  border: solid 2px black;
  width: 100%;
  height: 70%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.output {
  display: none;
}

.grid-box {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button */

.btn {
  background-color: transparent;
  font-size: 3.5rem;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.restart-btn {
  background-color: wheat;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
  border: solid 2px black;
}

.restart-btn:hover {
  background-color: rgb(236, 226, 207);
}

.restart-btn:focus {
  outline: none;
}

.restart-btn:active {
  transform: scale(0.98);
}
